<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Tema 4 Tanda 1 Ej3/src/biblio/BiblioStatic.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="biblio.BiblioStatic"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Tema 4 Tanda 1 Ej3"/>
</launchConfiguration>
