<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Tema 8 Excepciones Ej3/src/SumaNumeros.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="SumaNumeros"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="3&#13;&#10;hola&#13;&#10;4&#13;&#10;pepe&#13;&#10;pepa&#13;&#10;5&#13;&#10;6&#13;&#10;7&#13;&#10;8&#13;&#10;0&#13;&#10;aloh"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Tema 8 Excepciones Ej3"/>
</launchConfiguration>
