<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Tema 5 Tanda 2 Ej5/src/test/TestFigura.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="test.TestFigura"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Tema 5 Tanda 2 Ej5"/>
</launchConfiguration>
