h1
{
	text-align: center;
	background-color: black;
	color: white;
	padding: 20px 0px;
	font-size: 150%;
	font-weight: bold;
}
li a
{
	text-decoration: none;
	font-weight: bold;
}
p
{
	padding: 5px 10px 5px 10px;
}